.reconhecimento-container {
    background-color: #3D3D85; 
    width: 70%; 
    gap:5%
}

.icon-reconhecimento {
    width: 7%;
}

#camera-container {
    width: 85%; 
    height: 65%; 
    max-height: 335px;
}

#video {
    transform: scaleX(-1);
}