* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img {
  width: 160px;
}

header {
  height: 70px;
  z-index: -1;
}

.header-logo {
  transition: opacity 0.3s ease-in-out;
}

.sidebar {
  width: 300px;
  height: calc(100vh - 70px);
  background-color: #3d3d85;
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: grid;
  grid-template-columns: 65px auto;
  align-items: center;
}

.menu-icon {
  background-color: #353470;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 0.3s ease;
}

.menu-icon img {
  width: 20px;
  cursor: pointer;
}

.menu-text {
  background-color: #3d3d85;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.menu-text a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.menu-item:hover .menu-icon,
.menu-item:hover .menu-text {
  background-color: #514c9b;
}

.menu-text a:hover {
  color: #26d4fe;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.client span {
  color: #26d4fe;
}

.client a,
.client span {
  font-size: 14px;
  text-decoration: none;
}

.sidebar-logo {
  bottom: 50px;
  align-self: center;
  position: absolute;
}

.sidebar-logo img {
  width: 150px;
}

.sign {
  flex-grow: 1;
  align-items: start;
  position: relative;
}

@media (max-width: 945px) {
  .header-logo {
    content: url("../assets/small_logo.png");
    width: 45px;
  }

  .menu-text {
    display: none;
  }

  .sidebar {
    background-color: transparent;
  }

  .menu-icon {
    padding: 20px;
  }
}

@media (max-width: 420px) {
  .shield-icon {
    display: none;
  }
}

@media (max-width: 620px) {
  .send-document,
  .earn-money {
    display: none;
  }
}

.send-document {
  background-color: #2eda8a;
  color: white;
  border: none;
  font-size: 13px;
  width: 185px;
  border-radius: 20px;
}

.earn-money {
  background-color: white;
  border: none;
  font-size: 13px;
  width: 130px;
  height: 33px;
  border-radius: 20px;
  border: 1px solid #8654ff;
  color: #8654ff;
  margin-left: 10px;
  letter-spacing: -1px;
}

.earn-money:hover {
  background-color: #8654ff;
  color: white;
  cursor: pointer;
}

.custom-dropdown::after {
  display: none !important;
}

.contract {
  width: calc(100vw - 300px);
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin: 20px 0 20px 0;
}

iframe {
  width: calc(100vw - 800px);
  height: calc(100vh - 140px);
  border: none;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}

.authentication-box {
  width: 440px;
  height: 171px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  gap: 10px;
  position: relative;
  margin-top: 20px;
}

.authentication-title {
  font-size: 16px;
  font-weight: bold;
  color: #6b6a6a;
  margin-right: 10px;
}

.authentication-email {
  width: 358px;
  height: 77px;
  background-color: #eafdf4;
  border-radius: 7px;
  border: 2px dashed #c3cec9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authentication-email p {
  color: #33336d;
  margin: 0;
  text-align: center;
  font-size: 15px;
}

.proceed-button {
  width: 65%;
  height: 34px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.proceed-button button {
  font-size: 14px;
  border: none;
  border-radius: 20px;
}

.cancel-signature {
  background-color: none;
}

.confirm-signature {
  background-color: #2eda8a;
}
