* {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  flex-basis: 70px;
}

.main-content {
  flex: 1;
}

header img {
  width: 160px;
}

.container-fluid.vh-100 {
  min-height: 100vh;
}

header {
  height: 70px;
}

.header-logo {
  transition: opacity 0.3s ease-in-out;
}

.sidebar {
  width: 300px;
  background-color: #3d3d85;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
}

.menu-item {
  display: grid;
  grid-template-columns: 65px auto;
  align-items: center;
}

.menu-icon {
  background-color: #353470;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background-color 0.3s ease;
}

.menu-icon img {
  width: 20px;
  cursor: pointer;
}

.menu-text {
  background-color: #3d3d85;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.menu-text a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.menu-item:hover .menu-icon,
.menu-item:hover .menu-text {
  background-color: #514c9b;
}

.menu-text a:hover {
  color: #26d4fe;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.client span {
  color: #26d4fe;
}

.client a,
.client span {
  font-size: 14px;
  text-decoration: none;
}

.sidebar-logo {
  bottom: 50px;
  align-self: center;
  position: absolute;
}

.sidebar-logo img {
  width: 150px;
}

.sign {
  flex-grow: 1;
  align-items: start;
  position: relative;
}

@media (max-width: 945px) {
  .header-logo {
    content: url("../assets/small_logo.png");
    width: 45px;
  }

  .menu-text {
    display: none;
  }

  .sidebar {
    background-color: transparent;
  }

  .menu-icon {
    padding: 20px;
  }
}

@media (max-width: 420px) {
  /* .shield-icon {
    display: none;
  } */
}

@media (max-width: 620px) {
  .send-document,
  .earn-money {
    display: none;
  }
}

.send-document {
  background-color: #2eda8a;
  color: white;
  border: none;
  font-size: 13px;
  width: 185px;
  border-radius: 20px;
}

.earn-money {
  background-color: white;
  border: none;
  font-size: 13px;
  width: 130px;
  height: 33px;
  border-radius: 20px;
  border: 1px solid #8654ff;
  color: #8654ff;
  margin-left: 10px;
  letter-spacing: -1px;
}

.earn-money:hover {
  background-color: #8654ff;
  color: white;
  cursor: pointer;
}

.custom-dropdown::after {
  display: none !important;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column-reverse;
  }
  .sidebar {
    width: 100%;
    flex-basis: 100%;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    background-color: #353470;
  }

  .sidebar .menu-item:last-child,
  .sidebar .menu-item:first-child {
    display: none;
  }
}

.proceed-button {
  height: 34px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.proceed-button button {
  font-size: 14px;
  border: none;
  border-radius: 20px;
}

.cancel-signature {
  background-color: none;
}

.confirm-signature {
  background-color: #2eda8a;
}
